################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Select2MVC/bin/Debug/net8.0
/Select2MVC/obj
/Select2MVC/Properties
